body {
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #f5f5f5;
}

.form-signin {
	max-width: 400px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 25px;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
	width: 330px;
}
.form-signin-heading {
	margin-top: 0;
}
.btn-large {
	width: 330px;
	height: 50px;
}
.footer {
	margin-top: 80px;
	font-size: 11px;
	text-align: center;
}
.center {
	text-align: center;
}
.formularzobecnosci {
	margin: 20px auto;
	width: 280px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}
.tabelaobecnosci {
	margin: 40px auto;
	width: 510px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	padding: 15px;
}
.nadgodziny {
	margin: 0 auto;
	width: 400px;
}
.input100 {
	width: 100%;
}
.wybierzpracownika {
	margin: 20px auto;
	width: 650px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}
